@model TicketManagement.Models.TicketCreateModel

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <h2 class="head-title">Create Ticket</h2>
    <div class="container-create row">
        <div class="col-md-4">
            <form class="form-label" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PriorityID" class="control-label"></label>
                    @* <select asp-for="PriorityID" name="priorityList" asp-items="Model.TicketPriorities"></select> *@
                    @Html.DropDownListFor(model => model.PriorityID, Model.TicketPriorities, new { @class = "drop-down", @id = "priority-dropdown"})
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID" class="control-label"></label>
                    @* <select asp-for="CategoryID" name="categoryList" asp-items="Model.TicketCategories"></select> *@
                    @Html.DropDownListFor(model => model.CategoryID, Model.TicketCategories, new { @class = "drop-down", @id = "category-dropdown"})
                </div>
                <div class="form-group">
                    <label asp-for="StatusID" class="control-label"></label>
                    @* <select asp-for="StatusID" name="statusList" asp-items="Model.TicketStatuses"></select> *@
                    @Html.DropDownListFor(model => model.StatusID, Model.TicketStatuses, new{@class = "drop-down", @id = "status-dropdown"})

                </div>
                <div class="form-group">
                    <label asp-for="Assignee" class="control-label"></label>
                    @* <select asp-for="Assignee" name="assigneeList" asp-items="Model.TicketAssignees"></select> *@ 
                    @Html.DropDownListFor(model => model.Assignee, Model.TicketAssignees, new { @class = "drop-down", @id = "assignee-dropdown" })
                </div>
                <div>
                    <button type="submit" class="edit-button">Create</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        var textToSelect = "To Do";

        $("#status-dropdown option").each(function (a, b) {
            if ($(this).html() == textToSelect) $(this).attr("selected", "selected");
        });
        $("#status-dropdown option:not(:selected)").attr("disabled", "disabled")
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
